PORT=4000
DB_FILE=./data/450k.sqlite
CORS_ORIGIN=https://run.ppiean.com
STRAVA_CLIENT_ID=ใส่ค่าจาก Strava
STRAVA_CLIENT_SECRET=ใส่ค่าจาก Strava
STRAVA_CLUB_ID=2086686
APP_BASE_URL=https://api.ppiean.com
SEASON_START=2026-06-01

# Admin credentials
ADMIN_USER=MeePee
ADMIN_PASSWORD=g8injv'[bo
ADMIN_JWT_SECRET=450k-hermes-secret-2026-ppiean
